<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/fragments :: head('倉庫一覧')}"></th:block>
</head>
<body>
    <th:block th:replace="~{common/fragments :: header('倉庫一覧')}"></th:block>
    <th:block th:replace="~{common/fragments :: nav}"></th:block>
    <th:block th:replace="~{common/fragments :: message}"></th:block>

    <div th:if="${session.loginUserRole.name() == 'ADMIN'}">
        <a th:href="@{/warehouse/regist}">倉庫登録</a>
    </div>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>倉庫名</th>
            <th>所在地</th>
            <th>登録日時</th>
        </tr>
        <tr th:each="w : ${warehouses}">
            <td th:text="${w.warehouseId}"></td>
            <td th:text="${w.warehouseName}"></td>
            <td th:text="${w.location}"></td>
            <td th:text="${w.createdAt}"></td>
        </tr>
    </table>
</body>
</html>