<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/fragments :: head('在庫登録')}"></th:block>
</head>
<body>
    <th:block th:replace="~{common/fragments :: header('在庫登録')}"></th:block>
    <th:block th:replace="~{common/fragments :: nav}"></th:block>
    <th:block th:replace="~{common/fragments :: message}"></th:block>

    <form th:action="@{/stock/regist}" th:object="${stockForm}" method="post">
        <div>
            <div>商品</div>
            <select th:field="*{productId}">
                <option value="">-- 選択してください --</option>
                <option th:each="p : ${products}"
                        th:value="${p.productId}"
                        th:text="${p.productName}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}"></div>
        </div>

        <br>

        <div>
            <div>倉庫</div>
            <select th:field="*{warehouseId}">
                <option value="">-- 選択してください --</option>
                <option th:each="w : ${warehouses}"
                        th:value="${w.warehouseId}"
                        th:text="${w.warehouseName}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('warehouseId')}" th:errors="*{warehouseId}"></div>
        </div>

        <br>

        <button type="submit">登録</button>
    </form>

    <div>
        <a th:href="@{/stock/list}">一覧へ戻る</a>
    </div>
</body>
</html>