<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/fragments :: head('ログイン')}"></th:block>
</head>
<body>
    <th:block th:replace="~{common/fragments :: header('ログイン')}"></th:block>
    <th:block th:replace="~{common/fragments :: message}"></th:block>

    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <div>
            <div>ログインID</div>
            <input type="text" th:field="*{loginId}">
            <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></div>
        </div>

        <br>

        <div>
            <div>パスワード</div>
            <input type="password" th:field="*{password}">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <br>

        <button type="submit">ログイン</button>
    </form>
</body>
</html>